body,html
{
    /*  background-color: #87CEEB !important;*/
    background-image:url('../images/background-image2.jpg') !important;
    height: 100% !important;
    margin:0 !important;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.contact_us
{
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

background-color:#F5F5F5;

background: rgba(0, 0, 0, 0.3);

-webkit-border-radius: 16px;
-moz-border-radius: 16px;
border-radius: 16px;

border: 1px solid rgba(0,0,0,0.1);
}

nav ul {
  background: #F5F5F5;
  background: rgba(0, 0, 0, 0.6);
  /*border: 1px solid rgba(0,0,0,0.1);*/

  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;

  overflow:hidden;
  color:white;
  width: 80%;

  margin-left: auto;
     margin-right: auto;

  padding:0;
  text-align:center;
  margin-top: 30px !important;
  -webkit-transition:max-height 0.9s;
  -ms-transition:max-height 0.9s;
  -moz-transition:max-height 0.9s;
  -o-transition:max-height 0.9s;
  transition:max-height 0.9s;
}

nav ul li {
  display:inline-block;
  padding:20px;
  color: white;
  font-style: bold;
}

nav ul li:hover {
  background:#405d6a;
}

#heading
{
    padding-bottom: 20px;
    color: white;
    text-size: 40px;
}

#comment{
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
           width: 100%;
}
textarea
{
  -webkit-box-sizing: border-box !important;
      -moz-box-sizing: border-box !important;
           box-sizing: border-box !important;
}
