@media (max-width: 575px) {


    body,html
    {
        /*  background-color: #87CEEB !important;*/
        background-image:url('../images/background-image2.jpg') !important;
        height: 100%;
        margin:0;
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;

    }

    .container
    {
        background-color:#F5F5F5;
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

    }

    
    
      h5
  {
    margin-top:20px !important;
    color: white !important;
      text-align: center;
      font-size: 18px !important;


  }
  h2
  {
  color: white !important;
      text-align: center;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      font-family:  "Times New Roman";


font-size: 20px !important;

  }



  h4
  {
    color: white !important;
      text-align: center;
      padding-top: 30px;
      font-size: 20px !important;



  }

    
    
    label
    {
        color: white;
        text-align: center;
    }

    #form{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 100%;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


    nav ul {
        background: #F5F5F5;
        background: rgba(0, 0, 0, 0.6);
        /*border: 1px solid rgba(0,0,0,0.1);*/

        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;

        overflow:hidden;
        color:white;
        width: 80%;

        margin-left: auto;
        margin-right: auto;

        padding:0;
        text-align:center;
        margin-top: 30px !important;
        -webkit-transition:max-height 0.9s;
        -ms-transition:max-height 0.9s;
        -moz-transition:max-height 0.9s;
        -o-transition:max-height 0.9s;
        transition:max-height 0.9s;
    }

    nav ul li {
        display:inline-block;
        padding:20px;
        color: white;
        font-style: bold;
    }

    nav ul li:hover {
        background:#405d6a;
    }







    #top_heading{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.4);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


    .tablo
    {
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 100%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


}

/* ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */

@media (min-width: 576px) {

    body,html
    {
        /*  background-color: #87CEEB !important;*/
        background-image:url('../images/../images/background-image2.jpg') !important;
        height: 100%;
        margin:0;
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;

    }

    .container
    {
        background-color:#F5F5F5;
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

    }

  h5
  {
    margin-top:20px !important;
    color: white !important;
      text-align: center;
      font-size: 18px !important;


  }
  h2
  {
  color: white !important;
      text-align: center;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      font-family:  "Times New Roman";


font-size: 24px !important;

  }



  h4
  {
    color: white !important;
      text-align: center;
      padding-top: 30px;
      font-size: 20px !important;



  }


    label
    {
        color: white;
        text-align: center;
    }

    #form{
        margin-top: 8px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }

    nav ul {
        background: #F5F5F5;
        background: rgba(0, 0, 0, 0.6);
        /*border: 1px solid rgba(0,0,0,0.1);*/

        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;

        overflow:hidden;
        color:white;
        width: 80%;

        margin-left: auto;
        margin-right: auto;

        padding:0;
        text-align:center;
        margin-top: 20px !important;
        -webkit-transition:max-height 0.9s;
        -ms-transition:max-height 0.9s;
        -moz-transition:max-height 0.9s;
        -o-transition:max-height 0.9s;
        transition:max-height 0.9s;
    }

    nav ul li {
        display:inline-block;
        padding:20px;
        color: white;
        font-style: bold;
    }

    nav ul li:hover {
        background:#405d6a;
    }




#top_heading{
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    width: 80%;

    margin-left: auto;
    margin-right: auto;

    background-color:#F5F5F5;

    background: rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}


.tablo
{
    margin-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    width: 80%;

    margin-left: auto;
    margin-right: auto;

    background-color:#F5F5F5;

    background: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

}


/* ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */


@media (min-width: 768px) {

    body,html
    {
        background-image:url('../images/background-image2.jpg') !important;

        /*  background-color: #87CEEB !important;*/
        height: 100%;
        margin:0;
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;

    }

    .container
    {
        background-color:#F5F5F5;
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

    }

  h5
  {
  color: white !important;
      text-align: center;
  }

  h2
  {
  color: white !important;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      font-family:  "Times New Roman";
      font-size: 24px !important;

  }



  h4
  {
  color: white !important;
      text-align: center;
      padding-top: 30px;


  }


    label
    {
        color: white;
        text-align: center;
    }

    #form{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }

    nav ul {
        background: #F5F5F5;
        background: rgba(0, 0, 0, 0.6);
        /*border: 1px solid rgba(0,0,0,0.1);*/

        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;

        overflow:hidden;
        color:white;
        width: 80%;

        margin-left: auto;
        margin-right: auto;

        padding:0;
        text-align:center;
        margin-top: 30px !important;
        -webkit-transition:max-height 0.9s;
        -ms-transition:max-height 0.9s;
        -moz-transition:max-height 0.9s;
        -o-transition:max-height 0.9s;
        transition:max-height 0.9s;
    }

    nav ul li {
        display:inline-block;
        padding:20px;
        color: white;
        font-style: bold;
    }

    nav ul li:hover {
        background:#405d6a;
    }







    #top_heading{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.4);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


    .tablo
    {
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


}


/* ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */


@media (min-width: 992px) {

    body,html
    {
        /*  background-color: #87CEEB !important;*/
        background-image:url('../images/background-image2.jpg') !important;
        height: 100%;
        margin:0;
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;

    }

    .container
    {
        background-color:#F5F5F5;
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

    }

  h5
  {
  color: white !important;
      text-align: center;
  }
  h2
  {
  color: white !important;
      text-align: center;
      padding-top: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      font-family:  "Times New Roman";
  }



  h4
  {
  color: white !important;
      text-align: center;
      padding-top: 20px;
      font-size: 22px !important;


  }


    label
    {
        color: white;
        text-align: center;
    }

    #form{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


    nav ul {
        background: #F5F5F5;
        background: rgba(0, 0, 0, 0.6);
        /*border: 1px solid rgba(0,0,0,0.1);*/

        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;

        overflow:hidden;
        color:white;
        width: 80%;

        margin-left: auto;
        margin-right: auto;

        padding:0;
        text-align:center;
        margin-top: 30px !important;
        -webkit-transition:max-height 0.9s;
        -ms-transition:max-height 0.9s;
        -moz-transition:max-height 0.9s;
        -o-transition:max-height 0.9s;
        transition:max-height 0.9s;
    }

    nav ul li {
        display:inline-block;
        padding:20px;
        color: white;
        font-style: bold;
    }

    nav ul li:hover {
        background:#405d6a;
    }



    #top_heading{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.4);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


    .tablo
    {
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }lor:#F5F5F5;

    background: rgba(0, 0, 0, 0.3);
}

/* ____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________ */


@media (min-width: 1200px) {

    body,html
    {
        /*  background-color: #87CEEB !important;*/
        background-image:url('../images/background-image2.jpg') !important;
        height: 100%;
        margin:0;
        background-repeat:no-repeat;
        background-size: cover;
        background-position:center;
        background-attachment: fixed;

    }

    .container
    {
        background-color:#F5F5F5;
        background: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        padding-top: 5px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

    }

  h5
  {
  color: white !important;
      text-align: center;
      padding-bottom: 10px!important;

      font-size: 18px !important;

  }
  h2
  {
  color: white !important;
      text-align: center;
      padding-top: 20px;
      padding-right: 10px !important;
      padding-bottom: 20px;
      padding-left: 10px!important;
      font-family:  "Times New Roman";

      font-size: 30px !important;

  }



  h4
  {
  color: white !important;
      text-align: center;
      padding-top: 30px;

      font-size: 24px !important;



  }



    label
    {
        color: white;
        text-align: center;
    }

    #form{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


    nav ul {
        background: #F5F5F5;
        background: rgba(0, 0, 0, 0.5);
        /*border: 1px solid rgba(0,0,0,0.1);*/

        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;

        overflow:hidden;
        color:white;
        width: 80%;

        margin-left: auto;
        margin-right: auto;

        padding:0;
        text-align:center;
        margin-top: 30px !important;
        -webkit-transition:max-height 0.9s;
        -ms-transition:max-height 0.9s;
        -moz-transition:max-height 0.9s;
        -o-transition:max-height 0.9s;
        transition:max-height 0.9s;
    }

    nav ul li {
        display:inline-block;
        padding:20px;
        color: white;
        font-style: bold;
    }

    nav ul li:hover {
        background:#405d6a;
    }


    table{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
    }






    #top_heading{
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.4);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


    .tablo
    {
        margin-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;

        width: 80%;

        margin-left: auto;
        margin-right: auto;

        background-color:#F5F5F5;

        background: rgba(0, 0, 0, 0.3);
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
    }


}
