/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-Feb-2018, 19:37:44
    Author     : Asare
*/
body,html
{
  /*  background-color: #87CEEB !important;*/
background-image:url("../images/background-image2.jpg") !important;
height: 100%;
margin:0;
background-repeat:no-repeat;
background-size: cover;
background-position:center;
padding-top: 20px;
padding-bottom: 20px;
}


/*thead  {
    background-color: #006DCC;
    color: white;
}*/
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.grey-border  {
    border: 1px solid #e9ecef;
}
.input-group input[type=text]:focus:not([readonly]) {
    box-shadow: none;
}
.form-2 .input-group-text {
    border: 1px solid #e9ecef;
}

.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
/*.panel-body{
    display: none;
}*/
.modal-header {
    padding: 2px 16px;
    background-color: #5c86b8;
    color: white;
}

